@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display&display=swap');

body
{
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.serif-font
{
  font-family: 'Playfair Display', serif;
}
